@model IEnumerable<Testavimas_1.Models.Darbuotojas>

@{
    ViewData["Title"] = "View";
}

<h1>Darbuotojai</h1>

<p>
    <a asp-action="Create">Pridėti naują</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vardas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miestas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vardas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miestas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Redaguoti</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Išsamiau</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger">Ištrinti</a>
            </td>
        </tr>
}
    </tbody>
</table>
